<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rule Status</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <a href="/"><img src="/static/logo.png" alt="Logo"></a>
        <h1>Rule Detail</h1>
    </header>
    <div class="container">
        <table>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Rule</td>
                <td>{{ .Key }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ .Rule.SearchRule.Name }}</td>
            </tr>
            <tr>
                <td>Namespace</td>
                <td>{{ .Rule.SearchRule.Namespace }}</td>
            </tr>
            <tr>
                <td>State</td>
                <td>
                    {{if or (eq .Rule.State "PendingFiring") (eq .Rule.State "PendingResolving")}}<span class="pending">{{ .Rule.State }}</span>{{end}}
                    {{if eq .Rule.State "Firing"}}<span class="firing">{{ .Rule.State }}</span>{{end}}
                    {{if eq .Rule.State "Normal"}}<span class="normal">{{ .Rule.State }}</span>{{end}}
                </td>
            </tr>
            <tr>
                <td>FiringTime</td>
                <td>{{if eq .Rule.FiringTime.String "0001-01-01 00:00:00 +0000 UTC"}}-{{else}}{{ .Rule.FiringTime.Format "2006-01-02 15:04:05"}}{{end}}</td>
            </tr>
            <tr>
                <td>ResolvingTime</td>
                <td>{{if eq .Rule.ResolvingTime.String "0001-01-01 00:00:00 +0000 UTC"}}-{{else}}{{ .Rule.ResolvingTime.Format "2006-01-02 15:04:05"}}{{end}}</td>
            </tr>
            <tr>
                <td>ConditionField</td>
                <td>{{ .Rule.SearchRule.Spec.Elasticsearch.ConditionField }}</td>
            </tr>
            <tr>
                <td>Current value</td>
                <td>{{ .Rule.Value }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ .Rule.SearchRule.Spec.Description }}</td>
            </tr>
            <tr>
                <td>QueryConnector</td>
                <td>{{ .Rule.SearchRule.Spec.QueryConnectorRef.Name }}</td>
            </tr>
            <tr>
                <td>Index</td>
                <td>{{ .Rule.SearchRule.Spec.Elasticsearch.Index }}</td>
            </tr>
            <tr>
                <td>CheckInterval</td>
                <td>{{ .Rule.SearchRule.Spec.CheckInterval }}</td>
            </tr>
        </table>
        <h3>Query:</h3>
        <div class="manifest">
            <pre>{{ printf "%s" .Rule.SearchRule.Spec.Elasticsearch.Query.Raw }}</pre>
        </div>
        <h3>Condition:</h3>
        <div class="manifest">
            <pre>{{ printf "%s" .Condition }}</pre>
        </div>
        <h3>ActionRef:</h3>
        <div class="manifest">
            <pre>{{ printf "%s" .ActionRef }}</pre>
        </div>
        <a href="/rules" class="back">← Return to global rules</a>
    </div>
</body>
</html>
